<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sudoku</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Makes your prototype chrome-less once bookmarked to your phone's home screen -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/forms-nr.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/buttons-min.css">

    <link href="css/main.css" rel="stylesheet">
  </head>
  <body>
    <div id="app" />
    <script src={{entry}}></script>
  </body>
</html>
